certifi==2024.2.2
chardet==5.2.0
charset-normalizer==3.3.2
datadog==0.49.1
decorator==5.1.1
distlib==0.3.8
filelock==3.14.0
idna==3.7
platformdirs==4.2.2
requests==2.31.0
simplejson==3.19.2
urllib3==2.2.1
virtualenv==20.26.2
